<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Calculator</title>
        <style>
            .operations{
               
                border-radius:30%;
                margin:1rem 1.5rem;
               background-color:rgba(127, 127, 143, 0.315);
                padding:1.5rem;
                font-size: 150%;
                font-weight: 3;
                font-family:cursive;
                
            }
            body{
                text-align:center;
                
            }
            h1{
                font-family:cursive;
            }
            .calculator{
                display:inline-block;
                margin-top:4rem;
                border:solid 2px;
                border-radius:10%;
            }
            input{
                width:20rem;
                height:5rem;
                font-size:2rem;
                text-align: right; 
                margin:0 1rem;
            }
            .clicked{
                box-shadow:0 0 0;
            }
            form{
                padding:1rem 3rem;
            }
        </style>
    </head>
    <body>
        <div class="calculator">
            <form action="/" method="POST">
                <h1>Calculator</h1>
                <input type="number" name="no" value=<%=tt%> /> <br/>
                <button class="operations"  type="submit" name="calc" value="add"> Add </button>
                <button class="operations" type="submit"  name="calc" value="sub"> Sub </button>
                <button class="operations" type="submit" name="calc" value="cls"> C </button> <br/>
                <button class="operations" type="submit" name="calc" value="mul" > Mul </button>
               
                <button class="operations" type="submit" name="calc" value="div"> Div </button><br/>
                <button class="operations" type="submit" name="calc" value="equal"> = </button>
            </form>
                
            
            
            
           
        </div>
        
       

    </body>
</html>
